<!-- templates/player.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Portal</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Dahyeon's birthday quiz! - Player Portal</h1>
    <div id="registration-area">
        <input type="text" id="player-name" placeholder="Your Name">
        <button id="register-player">Register</button>
    </div>
    <div id="game-area" style="display: none;">
        <h2>Welcome, <span id="player-name-display"></span>!</h2>
        <h3>Your Player ID: <span id="player-id-display"></span></h3>
        <div id="question-area">
            <h2 id="question-text">Waiting for the game to start...</h2>
        </div>
        <div id="options-area" style="display: none;">
            <h2>Choose an option:</h2>
            <ul id="options-list"></ul>
        </div>
        <div id="result-area">
            <h2 id="result-text"></h2>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            const socket = io.connect();
            let playerName = '{{ player_name }}' !== 'None' ? '{{ player_name }}' : '';
            let playerId = '{{ player_id }}' !== 'None' ? '{{ player_id }}' : '';
            let submittedOptionId = {{ submitted_option_id|default('null', true) }};

            function showGameArea(name, id) {
                $('#registration-area').hide();
                $('#game-area').show();
                $('#player-name-display').text(name);
                $('#player-id-display').text(id);
            }

            function showRegistrationArea() {
                $('#registration-area').show();
                $('#game-area').hide();
            }

            if (playerName && playerId && playerName !== 'None' && playerId !== 'None') {
                showGameArea(playerName, playerId);
                socket.emit('join', {room: playerId});
                socket.emit('get_game_state');
            } else {
                showRegistrationArea();
            }

            $('#register-player').on('click', function() {
                playerName = $('#player-name').val().trim();
                if (playerName) {
                    socket.emit('register_player', { name: playerName });
                }
            });

            socket.on('player_registered', function(data) {
                playerName = data.name;
                playerId = data.player_id;
                showGameArea(data.name, data.player_id);
                history.pushState(null, '', `/player?player_id=${data.player_id}`);
                socket.emit('join', {room: data.player_id});
            });

            socket.on('game_reset', function() {
                localStorage.removeItem('playerName');
                localStorage.removeItem('playerId');
                location.reload();
            });

            function updateQuestion(data) {
                $('#question-text').text(data.question_text);
                $('#options-area').show();
                $('#options-list').empty();
                submittedOptionId = null;
                data.options.forEach((option, index) => {
                    const optionButton = $('<button></button>')
                        .text(option)
                        .addClass('option-button')
                        .data('option-id', index);
                    $('#options-list').append($('<li></li>').append(optionButton));
                });
                $('#result-text').text('');
            }

            socket.on('new_question', function(data) {
                updateQuestion(data);
            });

            socket.on('game_state', function(data) {
                updateQuestion(data);
                if (data.submitted_option_id !== null) {
                    submittedOptionId = data.submitted_option_id;
                    $('.option-button').prop('disabled', true);
                    $('.option-button').eq(submittedOptionId).addClass('submitted selected');
                    $('#result-text').text('Your answer has been submitted.');
                }
            });

            socket.on('correct_option_selected', function(data) {
                // Do nothing when the correct option is selected
                // This ensures that players don't see any indication of the correct answer
            });

            $('#options-list').on('click', '.option-button', function() {
                if (submittedOptionId === null) {
                    const optionId = $(this).data('option-id');
                    submittedOptionId = optionId;
                    $(this).addClass('submitted selected');
                    $('.option-button').prop('disabled', true);
                    $('#result-text').text('Your answer has been submitted.');

                    socket.emit('player_select_option', {
                        'player_name': playerName,
                        'option_id': optionId
                    });
                }
            });

            socket.on('update_scores', function(data) {
                // Update the player's score if it's in the data
                const playerScore = data.find(score => score.name === playerName);
            });

            socket.on('update_players', function(data) {
                const playerData = data.find(player => player.name === playerName);
            });

            socket.on('game_over', function() {
                $('#question-text').text('Game Over!');
                $('#options-area').hide();
            });

            socket.on('update_player_answers', function(data) {
                data.answers.forEach(function(answer) {
                    if (answer.player_name === playerName) {
                        submittedOptionId = answer.option_id;
                        $('.option-button').prop('disabled', true);
                        $('.option-button').eq(submittedOptionId).addClass('submitted selected');
                        $('#result-text').text('Your answer has been submitted.');
                    }
                });
            });
        });
    </script>
</body>
</html>